@{
    ViewBag.Title = "Giới thiệu";
}

<div class="col-md-12">
    @*<img src="~/Image/ima1.jpg" class="img-responsive" />*@
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>
